
 body {
    color: black;
    background-color: #AA7D39;
    font-family: Verdana;
    margin: 1 5;
    line-height: 150%;
}
H1 {
    margin: 1,5EM 1EM;
}

 .navigointipalkki ul {  
        list-style-type: none; overflow: hidden;
}
.navigointipalkki li {
    float: left; 
}